@{
  Layout = "_Layout";
}

<h1>@Model["category"].GetName()</h1>
@foreach (var item in @Model["items"])
{
  <p>@item.GetDescription() | Due @item.GetFormattedDate()</p>
}
<p><a href='/categories/@Model["category"].GetId()/items/new'>Add a new item</a></p>
<p><a href="/">Return Home</a></p>
